[data-behaviour="choropleth-map"]{
  position: relative;
  z-index: 500;
}
[data-behaviour="choropleth-map"] #map{
  width:100%;
  height: 400px;
}

[data-behaviour="choropleth-map"] .leaflet-popup-content-wrapper{
  border-radius: 5px;
}

[data-behaviour="choropleth-map"] .loader{
    width:100%;
    height:100%;
    background-color: #fff;
    padding-top:30px;
    position: absolute;
    top:0;
    left:0;
    z-index: 10000;
    text-align: center;
}

[data-behaviour="choropleth-map"] .leaflet-top,
[data-behaviour="choropleth-map"] .leaflet-bottom{
  z-index: 990;
}

@media( max-width:768px ){
  [data-behaviour="choropleth-map"] #map{
    width:100%;
    height: 250px;
  }
}
